# Air Quality

## 1. Data Understanding

In the EDA of this project, I start by adding libraries. 
Then I import the dataset.

For this example I've used the data of the center (point i36) of Eindhoven with the date starting from the first of Januari 2023 until the thirteen of Februari 2023.

In [24]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

#File uitlezen
df_Air_2023 = pd.read_csv("dataset_2023_Eindhoven_i36.csv")

I first check what data I have in the dataset by looking at the first and last 5 rows of the dataset.

In [25]:
df_Air_2023.head()

,Unnamed: 0,Unnamed: 1,I36,I36.1,I36.2,I36.3,I36.4,I36.5
0,Time,Time,Lat,Lon,PM1,PM2.5,PM10,NO2
1,UTC,Local,°,°,μg/m³,μg/m³,μg/m³,μg/m³\r\n
2,2023-01-01 00:00:00,2023-01-01 01:00:00,51.4389,5.4818,14.33,18.85,25.24,27
3,2023-01-01 00:10:00,2023-01-01 01:10:00,51.4392,5.4825,11.04,15.72,20.69,29
4,2023-01-01 00:20:00,2023-01-01 01:20:00,51.4390,5.4826,9.05,12.47,18.13,31

In [26]:
df_Air_2023.tail()

,Unnamed: 0,Unnamed: 1,I36,I36.1,I36.2,I36.3,I36.4,I36.5
6252,2023-02-13 14:10:00,2023-02-13 15:10:00,51.4382,5.4820,20.53,22.78,24.43,28
6253,2023-02-13 14:20:00,2023-02-13 15:20:00,51.4382,5.4820,19.82,21.20,26.25,28
6254,2023-02-13 14:30:00,2023-02-13 15:30:00,51.4376,5.4809,19.36,21.51,26.53,23
6255,2023-02-13 14:40:01,2023-02-13 15:40:01,51.4376,5.4809,21.23,22.98,24.03,25
6256,2023-02-13 14:50:00,2023-02-13 15:50:00,51.4389,5.4822,20.72,22.71,27.57,28

This dataset has the following columns:

- Lat : Latitude 
- Lon : Longitude
- NO2 : Nitrogen Dioxide
- UFP : Ultrafine particle

PM1, PM2.5, PM10: Ultrafine particle with micrometer smaller then 1. The smaller the PM, the more dangerous.

Then for the rows. the dataset has data for every 10 minutes of the daym making it a large dataset.

Next, I'm going to look at the shape of the dataset. So I look at exactly how big the dataset is.

In [28]:
df_Air_2023.shape

(6257, 8)